<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yihuobao.yhb.mapper.MerchantMapper">
    <select id="selectByPhoneAndPassword" resultType="com.yihuobao.yhb.entity.po.User">
        select * from Users where phoneNumber = #{phoneNumber} and password = #{password}
    </select>
</mapper>
